# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: CD -Deploy TO Staging Environment

on:
  push:
  workflow_dispatch:
    inputs:
      PR_number:
        description: "pull request number"
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{github.repository}}

jobs:
  depoly-staging:
    name: "Depoly to staging"
    defaults:
      run:
        shell: bash
        working-directory: ./web
    runs-on: ubuntu-latest
    steps:
      - name: "verify pull_request number"
        uses: actions/github-script@v7
        id: verify_pr
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          scripts: |
            const response = await github.rest.pulls.get({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: ${{github.event.inputs.PR_number}}
            })
            // check if PR is merged and number was correct
            if(response.data.number !== ${{ github.event.inputs.PR_number}} || response.data.merged == false){
            throw new Error(`pull request is not merged or the number #${{ github.event.inputs.PR_number}} is not correct`)
            }else{
            const result = {
             headRef: response.data.head.ref,
             mergeSha: response.data.merge_commit_sha,
                 };

             console.log("Returned data:", result);
             return JSON.stringify(result);
            }

      - name: "Checkout  repository"
        uses: actions/checkout@v3
